@using WebApplication1.Models.VMs;
@model LessonAndContentVM

@{
	ViewData["Title"] = "Create Lesson";
}

<h1>Create Lesson</h1>
<hr />

<div class="lesson-contents-container">
	@if(Model.Lesson.Contents.Count > 0)
	{
		foreach (var item in Model.Lesson.Contents.OrderBy(x => x.OrderIndex))
		{
			<partial name="Partials/_LessonContentPartial" model="item" />
		}
	}
	else
	{
		<h3>Nothing here yet... :(</h3>
	}
	
</div>

<hr />

<div class="create-new-content">
	@await Html.PartialAsync("Partials/_AddContentFormPartial", Model)
</div>