@model WebApplication1.Models.Entities.Lesson;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="flex flex-row gap-2 mt-3">
	<a class="btn btn-primary">Add</a>
	<a class="btn btn-success" style="margin-left: auto;">Finish</a>
	<a class="btn btn-info">Preview</a>
</div>