@model WebApplication1.Models.VMs.LessonAndContentVM

<form asp-action="AddContent" asp-controller="Lesson" method="post" id="addContentForm">

    @for (int i = 0; i < Model.Lesson.Contents.Count; i++)
    {
        <input type="hidden" asp-for="Lesson.Contents[i].Id" />
        <input type="hidden" asp-for="Lesson.Contents[i].Type" />
        <input type="hidden" asp-for="Lesson.Contents[i].Context" />
        <input type="hidden" asp-for="Lesson.Contents[i].OrderIndex" />
    }


    <div class="form-group">
        <label asp-for="LessonContent.Type" class="control-label"></label>
        <select asp-for="LessonContent.Type" class="form-control">
            <option value="Text">Text</option>
            <option value="Header">Header</option>
            <option value="Image">Image</option>
            <option value="Bulletpoints">Bulletpoints</option>
        </select>
        <span asp-validation-for="LessonContent.Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LessonContent.Context" class="control-label"></label>
        <textarea asp-for="LessonContent.Context" class="form-control" rows="3"></textarea>
        <span asp-validation-for="LessonContent.Context" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Content</button>
</form>