@model WebApplication1.Models.VMs.LessonContentVM

@switch (Model.Type.ToUpper())
{
	case "TEXT":
		<p>@Model.Context</p>
		break;

	case "IMAGE":
		<img src="@Model.Context" />
		break;

	case "HEADER":
		<h3>@Model.Context</h3>
		break;

	case "BULLETPOINTS":
		<ul>
			@foreach (var item in Model.Context.Split('\n'))
			{
				<li>@item</li>
			}
		</ul>
		break;

	default:
		<p style="color: red;">Unknown type</p>
		break;
}