
.footer{
    position: fixed;
    bottom: 0px;
    left: 250px;
    width: calc(100vw - 250px);
    height: 60px;
}


.my-sidebar {
    position: fixed !important;
    top: 60px !important;
    left: 0 !important;
    height: calc(100vh - 60px) !important;
    width: 250px !important;
    background: #19a64d !important;
}

.layout-body-container{
    position: fixed;
    top: 60px;
    left: 250px;
    width: calc(100vw - 250px);
    height: calc(100vh - 120px);
}

.form-border {
    padding: 10px !important;
    border: solid !important;
    border-width: 2px !important;
    border-color: #495057 !important;
    width: fit-content !important;
}