@using WebApplication1.Models.Entities
@model IEnumerable<Institution>

@{
    ViewData["Title"] = "Institutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	@if (ViewData["Error"] != null)
	{
		<div class="alert alert-danger">
			@ViewData["Error"]
		</div>
	}

	@if (ViewData["Success"] != null)
	{
		<div class="alert alert-success">
			@ViewData["Success"]
		</div>
	}



    @if (Model == null || !Model.Any())
    {
        <h3 class="mt-2">You haven't joined any institution yet...</h3>
    }
    else
    {

    }

    

    <button class="btn btn-primary" asp-action="Discover">Discover</button>

	@if (User.IsInRole("ADMIN"))
	{
		<button class="btn btn-primary" asp-action="Create">Create</button>
	}

    <div class="card p-3 mt-2" style="width: fit-content;">
        <form asp-action="Join" method="post">
            <div class="form-floating mb-3">
                <input id="code" name="code" type="text" maxlength="6" class="form-control" required placeholder="00000000" />
                <label for="code" class="form-label">Code</label>
            </div>
            <button type="submit" class="btn btn-primary">Join</button>
        </form>
    </div>
</body>
</html>