@{
	ViewData["Title"] = "Home Page";
}

<!-- Main -->
<div id="main">

	<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<div class="logo-container">
					<div style="display: flex; flex-direction: row;">
						<h1 class="left-brace" style="font-weight: bold; display: inline-block;">{</h1>
						<h1 class="future-text" style=" display: inline-block;">Program the Future!</h1>
						<h1 class="right-brace" style="font-weight: bold; display: inline-block; margin-right: auto;">}</h1>
					</div>
				</div>
			</header>
			<div class="content">
				<p>
					Бъдещата професия програмист -<br />
					Модератори и обучители на интелигентни системи
				</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Get Started</a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="tiles">
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Език за програмиране C#</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Еезик за програмиране JavaScript</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Език за програмиране</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Език за програмиране</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Език за програмиране</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="~/pic/programming-code.jpg" />
			</span>
			<header class="major">
				<h3><a href="landing.html" class="link">Език за програмиране</a></h3>
				<p>Започни курс</p>
			</header>
		</article>
	</section>

	<!-- Two -->
	<section id="two">
		<div class="inner">
			<header class="major">
				<h2>Нашата визия</h2>
			</header>
			<p>Програмистите на бъдещето преминават от ролята на „писатели на код“ към ролята на обучители на интелигентни системи, които се самооптимизират и адаптират.</p>
			<ul class="actions">
				<li><a href="landing.html" class="button next">Get Started</a></li>
			</ul>
		</div>
	</section>


	<!-- Contact -->
	<section id="contact">
		<div class="inner">
			<section>
				<form method="post" action="#">
					<div class="fields">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Clear" /></li>
					</ul>
				</form>
			</section>
			<section class="split">
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="#">information@untitled.tld</a>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-phone"></span>
						<h3>Phone</h3>
						<span>(000) 000-0000 x12387</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-home"></span>
						<h3>Address</h3>
						<span>
							1234 Somewhere Road #5432<br />
							Nashville, TN 00000<br />
							United States of America
						</span>
					</div>
				</section>
			</section>
		</div>
	</section>

</div>





